@charset "utf-8";
/* CSS Document */
body{margin:0px; padding:0px; font-size:12px; font-family:"微软雅黑"; color:#333;}
a{color:#333; text-decoration:none; outline:none;}
a:active{star:expression(this.onFocus=this.blur());} 
img{border:0px;}
a:link {text-decoration: none; outline:none;}
a:visited{text-decoration: none; outline:none;}
a:hover{text-decoration:none; color:#f57d07; outline:none;}
ul, p, dl, dt, dd{padding:0px; margin:0px;}
li{list-style-position:outside; list-style-type:none;}
h1, h2, h3, h4, h5{font-size:14px; padding:0px; margin:0px;}
h1{font-size:16px;}
h5{font-size:12px;}
.fl{float:left;}
.fr{float:right;}
.clear_f{clear:both; height:0px; padding:0px; margin:0px; display:block; _display:inherit;}
.h10{height:10px; overflow:hidden; clear:both;}
.h60{height:60px; overflow:hidden; clear:both;}
input{background:transparent; padding:0px; font-size:12px; font-family:Arial, "微软雅黑"; color:#888;}

a, .business .name{
    -webkit-transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    -ms-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
	}

.wal{width:1000px; margin:0px auto;}

.nav{height:60px; width:100%; overflow:hidden; position:fixed; z-index:50; left:0px; top:0px; background:#FFF;}
.nav .fl{padding-top:3px;}
.nav li{float:left; padding-left:28px;}
.nav li a{display:block; float:left; height:60px; line-height:60px; overflow:hidden; font-size:14px; white-space:nowrap; padding:0 28px 0 18px; background:url(../images/navIco.gif) left center no-repeat;}
.nav li a:hover, .nav li .aNow{background:url(../images/navIcoon.gif) left center no-repeat;}

.footDiv{height:110px; padding-top:50px; background:#000; color:#5e5e5e; overflow:hidden;}
.footDivNow{width:100%; position:fixed; z-index:10; left:0px; bottom:0px;}
.footDiv .wal{width:990px;}
.footDiv .fl{width:260px; overflow:hidden;}
.footDiv .link{color:#fff; padding-bottom:22px;} 
.footDiv .link a{color:#fff; font-size:13px;} 
.footDiv li{float:left; padding:0 0 0 195px; width:125px; height:68px; position:relative; overflow:hidden; font-size:13px; right:-60px;}
.footDiv .ico{position:absolute; left:100px; top:0px;}
.footDiv .name div{padding:8px 0 15px 0; color:#fff;}
.footDiv .name a{color:#5e5e5e; text-decoration:underline;}